################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
/Work Stealing/Work Stealing/Debug
/Work Stealing/Debug
