################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
/Work Stealing/Work Stealing/Debug
/Work Stealing/Debug
/Work Stealing/.vs/Work Stealing/v15
/Work Stealing/Work Stealing/x64/Debug
/Work Stealing/x64/Debug
